:root{
    --cor_princial_verde: #296117;
    --cor_secundaria_verde: #D3E381;
    --cor_terciaria_cinza: #7E7C7C;
    --cor_background_cinza: #F3F3F3;
    --fontfamily_padrao:'Josefin Sans';
    }
.col{
    font-family: var(--fontfamily_padrao);
}
#teste{
    font-family: var(--fontfamily_padrao);
    background-color: var(--cor_background_cinza);
    border: none;
    text-align: center;
    justify-content: ;
}
#resultado_frase{
    font-family: var(--fontfamily_padrao);
    color: var(--cor_princial_verde);
    font-weight: 700;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    }
